body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}
.todo-details {
    display:flex;
    flex-direction:column;

    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;
    }

    .item {
        flex:1;
        padding: 1em;
    }

}
#itemsPerPage{
    display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;
}
.container{
    margin-top: 3%;
}
h2{
    background-color: #353A40;
    padding: 1%;
    color: white;
}
.complete-complete {
    color: white;
    background: #cd7f7f;
    text-align: center;
}
.complete-pending {
    color: white;
    background: #5e915e;
    text-align: center;
}
.firstRow{
    border-bottom: 1px solid #cecccc;
    padding: 1%;
}
.text-end{
    text-align: end;
}
.form{
    border: 1px solid darkgray;
    border-radius: 2%;
    padding: 1%;
    margin-right: 8%;
}
.complete-complete-hide{
   display: block;
}
.complete-complete-show{
    display: none;
}

.todo {

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;

    form {

        display:flex;
        flex-direction:column;
        margin-right: 2em;

        label {
            display: flex;
            flex-direction:column;
            margin-bottom: 1em;
        }
    }

    .ul {
        list-style-type:none;
        margin:0;
        padding:0;

        .li {

            box-shadow: 0px 2px 12px #888888;
            padding-top: 1%;

            &.complete-complete {
                    background: red;
            }

            span {
                background: #e0e0e0;
                cursor:pointer;
                &:hover {
                    background: pink;
                }
            }
             span, input {
                 border: .5px solid #eee;
                 display:inline-block;
                 padding: .2em .25em;
                 width: 100%;;
             }

            button {
                background: transparent;
                border:none;
                color:blue;
                cursor:pointer;
                padding:0;
                margin: 0 .75em;
            }

        }
    }

}




